<p id="notice"><%= notice %></p>

<h1><%= @category_name %> </h1>
<table class="table">
  <thead>
  <tr> <th>Products </th></tr>
  <tbody>
  <% @category_products.each do |product| %>
      <tr>
        <td><%= link_to product.name, product %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Back', categories_path %>
